<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.fclever.mapper" />
        <option name="javaMapperPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-mapper\src\main\java" />
        <option name="javaModelPackage" value="com.fclever.domain" />
        <option name="javaModelPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-domain\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="hospital-system" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="modelSuperClass" value="com.fclever.domain.BaseEntity" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="hospital-system">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fclever.mapper" />
                  <option name="javaMapperPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-mapper\src\main\java" />
                  <option name="javaModelPacakge" value="com.fclever.domain" />
                  <option name="javaModelPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-domain\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="com.fclever.service" />
                  <option name="javaServiceInterfacePath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-interface\src\main\java" />
                  <option name="javaServicePackage" value="com.fclever.service.impl" />
                  <option name="javaServicePath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-service\src\main\java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-mapper\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="p3CComment" value="true" />
        <option name="removeTablePreName" value="sys_" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="onlinehospital:sys_dept">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="dept_id" />
                  <option name="javaModelName" value="Dept" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_dict_data">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="dict_code" />
                  <option name="javaModelName" value="DictData" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_dict_type">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="dict_id" />
                  <option name="javaModelName" value="DictType" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_login_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="info_id" />
                  <option name="javaModelName" value="LoginLog" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="menu_id" />
                  <option name="javaModelName" value="Menu" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_operation_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="oper_id" />
                  <option name="javaModelName" value="OperationLog" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="role_id" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="onlinehospital:sys_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="hospital-system" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useSwagger" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="G:\IdeaProjects\LastTerminal\Back\online-hospital\hospital-system\system-mapper\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>